<!DOCTYPE html>
<html>
<head>
  <title>Lintron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv='X-UA-Compatible', content='IE=edge,chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
  <body class="background">
    <div class="lintron-styles">
      <% if user_signed_in? %>
        <%= render partial:('./layouts/header_nav_logged_in.html') %>
      <% else %>
        <%= render partial:('./layouts/header_nav_logged_out.html') %>
      <% end %>
    </div>
    <div class="<%= user_signed_in? ? '' : 'lintron-styles' %>">
      <div class="header-spacing">
      </div>
      <%= yield %>
      <% if user_signed_in? %>
        <%= render partial:('./layouts/footer_nav_logged_in.html') %>
      <% else %>
        <%= render partial:('./layouts/footer_nav_logged_out.html') %>
      <% end %>
    </div>
  </body>
</html>
